<div style="width:20%; margin:auto; margin-top: 340px;">
    <form action="/download" method="get">
        <button style="width: 100px;" type="submit">Download</button>
    </form>
    
    <form action="/logout?_method=DELETE " method="post">
        <button style="width: 100px;" type="submit">Log out</button>
    </form>
</div>